<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhongrui.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TempActivity" />
        <activity android:name=".Activity.HumidActivity" />
        <activity android:name=".Activity.PressActivity" />
        <activity android:name=".Activity.AllActivity" />
        <activity android:name=".Activity.ControlActivity" />
        <activity android:name=".Activity.AirOnActivity" />
        <activity android:name=".Activity.AirOffActivity" />
        <activity android:name=".Activity.LightOnActivity" />
        <activity android:name=".Activity.LightOffActivity" />
        <activity android:name=".Activity.ErrorActivity"></activity>
    </application>

</manifest>